# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
.env
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VSCode
.vscode/

# Logs
*.log

# Dataset
medical_docs.txt

# IDE Backup
*.bak
